.table-container {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling */
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Allows horizontal scrolling */
}

table {
  min-width: 700px; /* Ensure table is wide enough to be scrollable */
}

thead.sticky-top {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #fff; /* Ensure background color to cover content under it */
  z-index: 10; /* Ensure it stays on top of the table content */
}
